/* 

/* TODO Add site wide styles */

@media (max-width: 480px) {
    main {
        font-size: 1.5rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: rgb(229, 226, 226);
}