.calculator {
    padding: 1.5rem;
    border-radius: 0.5rem;
    flex: 1;
    height: 100%;
    min-width: 0;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
}

form {
    margin-top: 1rem;
}

form input,
form select {
    display: block;
    margin-bottom: 1rem;
    width: 80%;
    height: 2.6rem;
    border: 1px solid #010101;
    border-radius: 0.5rem;
    padding-left: 1rem;
}

form label {
    font-size: 1.03rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.calculator > h2 {
    margin-bottom: 1.5rem;
    color: rgb(10, 52, 100);
}


input:hover {
    border: 4px solid #6384b5;
}

select:hover {
    border: 4px solid #6384b5;
}

.calculator-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 60%;
    height: 3rem;
    margin-top: 1rem;
    border: none;
    background-color: rgb(68, 117, 173);
    color: #ffff;
    font-size:large;
    border-radius: 0.5rem;
}

.calculator-button:hover {
    background-color: rgb(10, 52, 100);
    cursor: pointer;
}