.navbar {
    background-color: rgb(63, 114, 169);
    display: flex;
    box-sizing: border-box;
    color: #cbd5da;
    align-items: center;
    gap: 20rem;
    max-width: 100%;
    padding-left: 3rem;
}

.header-logo {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: medium;
    color: rgb(152, 215, 186);
}

.header--logo-image {
    width: 4rem;
    height: 4rem;
}

.header--nav-items {
    display: flex;
    list-style: none;
    font-weight: 500;
    gap: 2rem;
    /* margin-left: 16rem; */
}
/* 
.header-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
} */

@media (max-width: 768px) {
    .navbar {
        gap: 2rem
    }

    .header--nav-items {
        gap: 0.5rem
    }

    /* .header-toggle {
        display: block;
    } */
}

a {
    color: #cbd5da;
    text-decoration: none;
}

a:hover {
    color: #fff;
    font-size: 1.05rem;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    background-color: #f6f9f9;
    margin: 0;
    padding: 0;
    width: 11rem;
    border: 1px solid;
    border-radius: 2px;
}

.dropdown-menu li a {
    display: block;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: rgb(92, 92, 104);
    font-weight: normal;
    font-size: small;
}

.dropdown-menu li a:hover {
    text-decoration: underline;
}


.dropdown:hover .dropdown-menu {
    display: block;
}