.header {
    width: 100%;
}

.navbar {
    background-color: rgb(63, 114, 169);
    display: flex;
    box-sizing: border-box;
    color: #cbd5da;
    align-items: center;
    justify-content: flex-start;
    gap: 20rem;
    /* gap: 17rem; */
    width: 100%;
    position: relative;
}

.header-logo {
    padding-left: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: medium;
    color: rgb(152, 215, 186);
}

.header--logo-image {
    width: 4rem;
    height: 4rem;
}

.nav-links {
    display: flex;
    list-style: none;
    font-weight: 500;
    gap: 2rem;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    background: none;
    color: #cbd5da;
    justify-content: space-between;
}
/* 
.header-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
} */

@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
        gap: 0;
    }

    .hamburger{
        display: block;
        margin-left: auto;
    }

    /* .navbar {
        gap: 15rem;
    } */

    .nav-links {
        display: none;
        gap: 1rem;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        flex-direction: column;
        justify-self: flex-end;
        align-items: center;
        background: #f6f9f9;
        width: 100%;
        padding: 0.5rem;
    }

    .nav-links.nav-links.active li a {
        color: gray;
    }

    .nav-links.active {
        display: flex;
    }

    /* .header-toggle {
        display: block;
    } */
}

.nav-links li a {
    color: #cbd5da;
    text-decoration: none;
}

a:hover {
    color: #fff;
    font-size: 1.05rem;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    background-color: #f6f9f9;
    margin: 0;
    padding: 0;
    width: 11rem;
    border: 1px solid;
    border-radius: 3px;
}

.dropdown-menu li a {
    display: block;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: rgb(92, 92, 104);
    font-weight: normal;
    font-size: small;
}

.dropdown-menu li a:hover {
    text-decoration: underline;
}


.dropdown:hover .dropdown-menu {
    display: block;
}